@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto Mono', monospace !important;
  letter-spacing: 2px;
}
h1{
  font-size: 5.5rem !important;
  color: white !important;
  text-shadow: 8px 7px grey;
}
p{
  color: grey !important;
}
h2{
  font-family: 'Montserrat',sans-serif !important;
  font-weight: 700 !important;
}
/* HEADING CONTENT */
#heading-section{
  background-color: #010101;
  padding: 5% 15%;
}
.col-lg-6{
  padding-bottom: 18px;
}
.navbar-brand{
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 2rem!important;
  letter-spacing: 5px;
  color: grey !important;
}
.navbar{
  padding: 0px 0px 80px 0px !important;
}
.img-1{
  width: 60%;
  margin-left: 190px;
}
.nav-item{
  font-family: 'Montserrat',sans-serif;
  padding: 0px 18px 18px 18px;
  font-weight:700;
}
/* ABOUT */
#about{
  padding: 5% 15%;
  text-align: center;
  line-height: 2.;
}
.about-tag{
  padding: 5%;
}
.icon{
  margin: 1rem;
  padding-bottom: 10px;
}
/* showcase */
#showcase{
  background-color: black;
  color: white;
  padding: 5% 15%;
  line-height: 2.5;
}
.showcase-heading1{
  padding: 10px 0px 30px 0px;
}
.showcase-heading2{
  padding: 10px 0px 30px 0px;
}
.showcase-img1{
  width: 60%;
  box-shadow: -10px 10px 5px grey;
}
.showcase-img2{
  width: 60%;
  margin-left: 100px;
  height: 425px;
  box-shadow: 10px 10px 5px grey;
}
/* showcase 2 */
#showcase-2{
  padding: 5% 15%;
  line-height: 2.5;
}
/* cta */
#cta{
  padding: 5% 15%;
  background-color: black;
  color: white;
  text-align: center;
}
.cta-heading{
  padding-bottom: 30px;
  font-size: 3.5rem;
}
/* footer */
#footer{
  padding: 5% 15%;
  text-align: center;
}
.footer-icon{
  color: black;
  padding: 20px 20px 30px 0px;
}

/* PSUEDO CLASSES */
.navbar-brand:hover{
  color: white !important;
}
.nav-item:hover{
  color: white;
}
.description-tag1:hover{
  color: white !important;
}
h1:hover{
  color: grey !important;
  text-shadow: 8px 7px white;
}
.img-1:hover{
  box-shadow: 10px 10px 5px grey;
}
.icon:hover{
  color: grey;
}
.showcase-description:hover{
  color: white !important;
}
.showcase-description2:hover{
  color: black !important;
}
/* media queries */
@media (max-width:1020px){
  #heading-section{
    text-align: center;
  }
  #showcase{
    text-align: center;
  }
  #showcase-2{
    text-align: center;
  }
  .showcase-img2{
    margin-left: 0px
  }
  .img-1{
    margin-left: 0px;
  }
  .description-text{
    font-size: 1.8rem;
  }
  .nav-item{
    padding: 50px 0px 30px 0px;
  }
}
